.backTop {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;  
  padding: 1em;
  margin: 1em;
  background: #E8E8E8;
  border: 1px solid #000;
}
.backTop:hover {
  cursor: pointer;
}